# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files from the book
C02/
C03/
C04/
C05/
C06/
C07/
C08/
C09/
C10/
C11/
C12/
C13/
C14/
C15/
C16/

# Zipped files and txt files from book
*.txt
*.zip

# files which were distributed with the book
TIC2Vone-distribution/
makefile
makefile.bugs
require.h
